<h1>Confirm</h1>
<div class="confirmation-message">{{confirmMessage}}</div>
<div>
  <button mat-button color="primary" (click)="dialogRef.close(true)">Confirm</button>
  <button mat-button (click)="dialogRef.close(false)">Cancel</button>
</div>