.toolbar {
    height: 180px;
    position: fixed;
    top: 0px;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-weight: 600;
    padding-left: 16px;
    h1,h6{
        margin: 0px;
        padding: 0px;
        color: #FFF;
    }
    h1{
        font-size: 42px;
    }
    h6{
        margin-top: 8px;
        font-size: 18px;
    }
  }
  .loading-posts{
    position: fixed;
    top: 0;
    z-index: 2;
  }
  .content {
    table {
        width: 100%;
        tr{
            &:hover td{
                background-color: #FAFAFA;
                cursor: pointer;    
            }
            &:hover td .btn-remove{
                visibility: visible;
            }
            td{
                background-color: #FFF;
                border-bottom: solid 1px #CCC;
                .title,.date{
                    color: #333;
                    font-size: 13pt;
                }
                .autor{
                    color: #999;
                    margin-left: 5px;
                }
                .btn-remove{
                    visibility: hidden;
                    &:hover{
                        visibility: visible;
                    }
                }
            }
        }
      }
  }