<mat-toolbar class="toolbar" color="primary">
  <h1>HN Feed</h1>
  <h6>We <3 hackers news!</h6>
</mat-toolbar>
<mat-progress-bar *ngIf="showProgressBar | async" class="loading-posts" mode="indeterminate"></mat-progress-bar>
<div class="content" role="main">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Title">
      <td mat-cell *matCellDef="let element">
        <span class="title">{{element.story_title ? element.story_title : element.title}}</span>
        <span class="autor">- {{element.author}} -</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="Date">
      <td mat-cell *matCellDef="let element">
        <span class="date">{{formatDate(element.created_at)}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="Remove">
      <td mat-cell *matCellDef="let element">
        <button (click)="remove(element.story_id,$event)" class="btn-remove" mat-icon-button aria-label="Remove">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    
    <tr (click) ="openUrl(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>